[alias]
    co = checkout
    br = branch
    cm = commit
    st = status
    pick = cherry-pick
    unstage = "reset HEAD --"
    unstage-all = "reset"
    last = "log -1 HEAD"
[user]
	email = cnsmith@mun.ca
	name = Colton Smith
[core]
	editor = vim
